@import "variables";

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-red {
    color: $common-red !important;
}
h1,h2,h3,h4,h5,h6{
    font-size: 18px !important;
    font-weight: bold;
}