body{
    // overflow: scroll;
}

.home-header-container{
    height: 60px;
    width: 100%;
    padding: 0px 20px;
    .home-header-content{
        display: flex;
        width: 100%;
        height: 100%;
        .header-left-content{
            width: 25%;
            display: flex;
            .fas.fa-bars{    
                position: absolute;          
                font-size: 25px;
                top: 15px;
                left: 20px;
                color:#b2bec3;
                padding-top:5px ;
                padding-right: 5px;
            }
            .header-logo{
                background: url("../../../src/assets/images/Header/logo.png") center center no-repeat;
                width: 100%;
                height: 100%;
            }
        }
        .header-middle-content{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .main-title{
                font-size: 16px;
            }
            .sub-title{
                font-size: 12px;
                color:#636e72;
            }
        }
        .header-right-content{
            width: 25%;
            display: flex;
                align-items: center;
                justify-content: center;
            .support{
                i.fas.fa-question-circle{
                    color: #00cec9;
                    font-size: 18px;
                }
            }
            .language-vi{
                margin-right: 5px;
                margin-left: 5px;
                &.action{
                    color:red;
                }
            }
            .language-en{
                &.action{
                    color:red;
                }
            }
            .language-vi:hover,.language-en:hover{
                cursor: pointer;
            }
        }
    }
}
.home-header-banner{
    background: url("../../assets/images/content/bookingcare-cover-4.jpg"), linear-gradient(rgba(126,126,126,0.25),rgba(255,255,255,0.1)) ;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    margin-top: 5px;
    position: relative;
    .title1{
        text-align: center;
        font-size: 30px;
        color:#fff;
        font-weight: bold;
        padding-top: 50px;
    }
    .title2{
        text-align: center;
        font-size: 35px;
        color:#fff;
        font-weight: bold;
    }
    .search{
        justify-content: center;
        margin-top: 50px;
        .input-sub{
            position: relative;
            position: absolute;
            left: 35%;
            .fas.fa-search{
                position: absolute;
                top: 22px;
                font-size: 18px;
                font-weight: bold;
                left: 5px;
                color:#ffffff;
            }
            .search-input{
                width: 500px;
                height: 60px;
                border-radius: 18px;
                outline: none;
                border: none;
                background: #f1c40f;
                padding-left: 30px;
                color:#ffffff
            }
            .search-input::placeholder{
                color:#ffffff;
            }
            .search-input:focus{
                box-shadow: 3px 3px;
                transition: all 0.2s linear;
            }
        } 
    }
    .options{
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
        padding-left: 200px;
        padding-right: 200px;
        .sub-options{
            justify-content: center;
            width: 100px;
            .img-thumb1{
                background: url("../../assets/images/content/161905-iconkham-chuyen-khoa.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
                display: block;
                margin:0px auto;
                
            }
            .img-thumb2{
                background: url("../../assets/images/content/161817-iconkham-tu-xa.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
                display: block;
                margin:0px auto;
                
            }
            .img-thumb3{
                background: url("../../assets/images/content/161350-iconkham-tong-quan.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
                display: block;
                margin:0px auto;
                
            }
            .img-thumb4{
                background: url("../../assets/images/content/161340-iconxet-nghiem-y-hoc.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
                display: block;
                margin:0px auto;
                
            }
            .img-thumb5{
                background: url("../../assets/images/content/161403-iconsuc-khoe-tinh-than.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
                display: block;
                margin:0px auto;
                
            }
            .img-thumb6{
                background: url("../../assets/images/content/161410-iconkham-nha-khoa.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
                display: block;
                margin:0px auto;
                
            }
            .title-options{
                font-size: 15px;
                width: 100%;
                height: 50px;
                font-weight: bold;
                text-align: center;
                color:#1289A7;
            }
        }
    }
}