@import "../../styles/common.scss";

.header-container {
    width: 1280px;
    margin-left: 250px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 100px;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid red;
    background: #fff;
    .header-container-content{
        display: flex;
        .logo-header{
            display: flex;
            height: 100%;
            width: 60px; 
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: 100%;
            }   
        }
        .header-title{
            .header-title-top{
                font-size: 30px;
                text-transform: uppercase;
                color: #273c75;
                font-weight: bold;
            }
            .header-title-bottom{
                font-size: 42px;
                text-transform: uppercase;
                color: #e84118;
                font-weight: bold;
            }
        }
    }
    
    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }
    .support-language{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .welcome{
            margin-right: 5px;
        }
        .language-vi,.language-en, .support,.welcome, .btn-logout{
            color:#00a8ff
        }
        .action{
            color:red;
        }
        .language-vi{
            margin: 5px;
        }
        
        .language-vi:hover,.language-en:hover{
            cursor: pointer;
        }
    }
}